@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

header {
  width: 100%;
  padding: 10px 0;
  color: #fff;
  background-color: #2b2e37;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

main .wrapper {
  padding: 100px 0 114px; 
  text-align: center;  
}

main h2 {
  margin: 0 0 20px 0;
  font-weight: 600;
  font-size: 36px;  
  color: #333;
  position: relative;
}

main h2::before {
  content: '';
  width: 6%;
  height: 3px;
  background: #69ad31;
  position: absolute;
  display: block;
  margin-top: 24px;
  margin-bottom: 24px;
  left: 47%;
  top: 81.5%;
}

.galleryLinks { 
  margin: 64px 0 41px;
  display: flex;
  justify-content: center;
}

.galleryLink a { 
  padding: 11px 14px;
  color: #fff;
  font-weight: 700;
}

.galleryLink {
  margin: 0 9.8px;
  background: #e5e5e5;
  box-sizing: border-box;
  text-transform: uppercase;
  border-radius: 4px;
}

.tabActive{
  background: #69ad31;
  color: rgba(255,255,255,0.9);
}

.galleryLink { border-radius: 4px; }

.galleryLink:hover {
  background: #69ad31;
  color: rgba(255,255,255,0.9);
  transition: all 0.3s ease;
}

.Project img:hover { 
  box-shadow: 10px 9px 5px #aaaaaa;
  transition: all 0.3s ease;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content:flex-start;
}

.projects figure { padding:10px; }
.show { display: inline-block; }
.hide { display: none; }

/*=================================
  main styling ends here
=================================*/
